<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head th:fragment="common_header(title,links)">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
        <meta name="description" content="Exchange Application">
        <meta name="author" content="Maciej Skrobiszewski">

        <title th:replace="${title}">Spring Thymeleaf Dialect Configuration</title>

        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" type="text/css"
              th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}">

        <!-- jQuery css -->
        <link rel="stylesheet" type="text/css"
              th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}">
        <link rel="stylesheet" type="text/css"
              th:href="@{/webjars/datatables/1.10.19/css/jquery.dataTables.min.css}">
        <link rel="stylesheet" type="text/css"
              th:href="@{/webjars/datatables/1.10.19/css/dataTables.bootstrap4.min.css}">
        <link rel="stylesheet" type="text/css"
              th:href="@{/webjars/bootstrap-datetimepicker/2.4.2/css/bootstrap-datetimepicker.min.css}">

        <!-- Custom CSS -->
        <link rel="stylesheet" type="text/css" th:href="@{/css/floating-labels.css}">

        <th:block th:replace="${links}"/>
    </head>

     <head th:fragment="common_header2(title)">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=yes">
        <meta name="description" content="">
        <meta name="author" content="">

        <title th:text="${title}">Spring Thymeleaf Dialect Configuration</title>

        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}">

        <!-- jQuery css -->
        <link rel="stylesheet" th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}">
        <link rel="stylesheet" th:href="@{/webjars/datatables/1.10.19/css/jquery.dataTables.min.css}">
        <link rel="stylesheet" th:href="@{/webjars/datatables/1.10.19/css/dataTables.bootstrap4.min.css}">

        <!-- Custom CSS -->
        <link rel="stylesheet" th:href="@{/css/floating-labels.css}">

        <script th:inline="javascript"> var contextRoot = /*[[@{/}]]*/ ''; </script>

    </head>

    <head th:fragment="login_header(title,links)">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
        <meta name="description" content="Exchange Application">
        <meta name="author" content="Maciej Skrobiszewski">

        <title th:replace="${title}">Spring Thymeleaf Dialect Configuration</title>

        <!-- jQuery-UI css -->
        <link rel="stylesheet" type="text/css"
              th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}">
        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.1.3/css/bootstrap.min.css"
              th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}">
        <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.1.3/css/bootstrap-grid.min.css"
              th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap-grid.min.css}">
        <th:block th:replace="${links}"/>
    </head>

    <header th:fragment="naviBar(role)">
        <th:block th:insert="layout/navibar :: (${role}? {adminNavi} : {userNavi})">
        </th:block>

    </header>


    <div th:fragment="header-all">
        <div class="header-panel">
            <h2 class="h2 header-panel">
                Super Exchange Application
            </h2>
        </div>
    </div>
    <div th:fragment="header-logged">
        <div class="header-panel col-9">
            <h2 class="h2 header-panel">
                Super Exchange Application
            </h2>
        </div>
        <div class="header-panel col-3">
            <h4>Username:</h4>
        </div>

    </div>

</html>
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<!-- script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script -->
<!--[endif]-->
