<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <div th:fragment="modalAddCourses">
        <div id="addCourse" class="modal fade" role="dialog" aria-labelledby="addCoursesLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 id="addCoursesTitle" th:text="#{title_add_courses}"></h5>
                        <h6 th:text="#{add_courses_description}"></h6>
                    </div>
                    <div class="modal-body">
                        <form id="addCoursesForm" method="post" class="form-signin">

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelectCurr"
                                           th:text="#{currency}"></label>
                                </div>
                                <select class="custom-select" id="inputGroupSelectCurr">
                                    <option value="0" selected th:text="#{choose}"></option>
                                    <option th:each="currency : ${availableCurrency}"
                                            th:value="${currency.idCode}"
                                            th:text="${currency.idCode + ' ' + currency.name}"></option>
                                </select>
                            </div>
                            <div class="form-label-group" id="coursesContent">
                                <input type="text" class="form-control" name="coursesName"
                                       aria-labelledby="coursesNameInput"
                                       id="coursesNameInput" placeholder="Courses name" readonly>
                                <label for="coursesNameInput" th:text="#{courses_name}"></label>
                            </div>
                            <div class="form-label-group">
                                <input type="text" class="form-control currency" name="buyCourses"
                                       aria-labelledby="buyInput"
                                       id="buyInput" placeholder="Podaj kurs zakupu" required autofocus>
                                <label for="buyInput" th:text="#{buy_courses}"></label>
                            </div>
                            <div class="form-label-group">
                                <input type="text" class="form-control currency" name="sellCourses"
                                       aria-labelledby="sellInput"
                                       id="sellInput" placeholder=required autofocus>
                                <label for="sellInput" th:text="#{sell_courses}"></label>
                            </div>

                            <div class="row">

                                <div class="col">
                                    <div class="input-group date">
                                        <div class="form-label-group">
                                            <input type="text" class="form-control" name="startDate" id="startDate"
                                                   aria-labelledby="startDate" aria-describedby="startDateFormat"
                                                   placeholder="Valid from:">
                                            <label for="startDate" class="form-control-sm"
                                                   th:text="#{valid_from}"></label>
                                            <small id="startDateFromat" class="form-text text-muted text-sm-center">
                                                format: yyyy-MM-ddTHH:mm
                                            </small>
                                        </div>
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input-group date">
                                        <div class="form-label-group">
                                            <input type='text' class="form-control" name="endDate" id="endDate"
                                                   aria-labelledby="endDate" placeholder="Valid to:"
                                                   aria-describedby="endDateFromat">
                                            <label for="endDate" class="form-control-sm" th:text="#{valid_to}"></label>
                                            <small id="endDateFormat" class="form-text text-muted text-sm-center">
                                                format: yyyy-MM-ddTHH:mm
                                            </small>
                                        </div>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button id="addCoursesButton" type="button" class="btn btn-success"
                                        data-toggle="addCourses" th:text="#{add}">
                                </button>
                                <button id="cancelCurrButton" type="button" class="btn btn-danger" data-dismiss="modal"
                                        th:text="#{close}">
                                </button>
                            </div>
                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div th:fragment="modalDisableCourses">
        <div id="delCourse" class="modal fade" role="dialog" aria-labelledby="delCoursesLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 id="delCoursesTitle" th:text="#{title_del_courses}"></h5>
                        <h6 th:text="#{del_courses_description}"></h6>
                    </div>
                    <div class="modal-body">
                        <form id="delCourseForm" method="post" class="form-signin">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="deleteGroupSelectCurr"
                                       th:text="#{currency}"></label>
                            </div>
                            <select class="custom-select" id="deleteGroupSelectCurr">
                                <option value="0" selected th:text="#{choose}"></option>
                                <option th:each="currency : ${availableCurrency}"
                                        th:value="${currency.idCode}"
                                        th:text="${currency.idCode + ' ' + currency.name}"></option>
                            </select>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button id="delCoursesButton" type="button" class="btn btn-success"
                                data-toggle="delCourses" th:text="#{del}">
                        </button>
                        <button id="cancelDeleteCurrButton" type="button" class="btn btn-danger" data-dismiss="modal"
                                th:text="#{close}">
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div th:fragment="modalModifyCourses">
        <div id="modifyCourse" class="modal fade" role="dialog" aria-labelledby="modifyCourseLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 id="modifyCourseTitle" th:text="#{title_modify_course}"></h5>
                        <h6 th:text="#{mod_course_description}"></h6>
                    </div>
                    <div class="modal-body">
                        <form id="modCourseForm" class="form-signin" method="post">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="modifyGroupSelectCurr"
                                           th:text="#{currency}"></label>
                                </div>
                                <select class="custom-select" id="modifyGroupSelectCurr">
                                    <option value="0" selected th:text="#{choose}"></option>
                                    <option th:each="currency,iter : ${currencyList}"
                                            th:value="${currency.currency.idCode}"
                                            th:text="${currency.currency.idCode + ' ' + currency.currency.name}"></option>
                                </select>
                            </div>
                            <div class="form-label-group">
                                <input type="text" class="form-control currency" name="modBuyCourse"
                                       aria-labelledby="modBuyInput"
                                       id="modBuyInput" placeholder="Podaj kurs zakupu" required autofocus>
                                <label for="modBuyInput" th:text="#{buy_courses}"></label>
                            </div>
                            <div class="form-label-group">
                                <input type="text" class="form-control currency" name="modSellCourse"
                                       aria-labelledby="modSellInput"
                                       id="modSellInput" placeholder=required autofocus>
                                <label for="modSellInput" th:text="#{sell_courses}"></label>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button id="modifyCoursesButton" type="button" class="btn btn-success"
                                data-toggle="delCourses" th:text="#{modify}">
                        </button>
                        <button id="cancelModCurrButton" type="button" class="btn btn-danger" data-dismiss="modal"
                                th:text="#{close}">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</html>
