<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div  th:fragment="currencies">
    <div class="tab-container table-striped">
        <div class="align-content-between">
        <h4 th:text="#{curr_cours_table} + ': ' + ${#calendars.format(#calendars.createNow(),'dd-MM-yyyy')}" class="row col-sm-12"></h4>
        <table>
            <thead>
            <tr th:class="row">
                <th th:class="col-sm-3" th:text="#{currency_code}"></th>
                <th th:class="col-sm-2" th:text="#{ask}"></th>
                <th th:class="col-sm-2" th:text="#{bid}"></th>
                <th th:class="col-sm-5" th:text="#{valid_to}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="curr,iter : ${currencyList}" th:class="row">
                <th th:class="col-sm-3" th:text="${curr.currency.idCode}"></th>
                <td th:class="col-sm-2" th:text="${#numbers.formatDecimal(curr.ask,  0, 'DEFAULT', 2, 'DEFAULT')}"></td>
                <td th:class="col-sm-2" th:text="${#numbers.formatDecimal(curr.bid,  0, 'DEFAULT', 2, 'DEFAULT')}"></td>
                <td th:class="col-sm-5" style="font-size: smaller" th:text="${#temporals.format(curr.validTo, 'dd-MM-yyyy HH:mm')}"></td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>

</div>

<div th:fragment="transaction" data-th-fragment="transaction" th:remove="tag">
    <div th:class="tab-container">
        <div th:class="row">
            <h3>Transaction List</h3>
        </div>
        <div th:class="row">
            <div th:insert='fragments/transaction_operations :: buyActions' th:remove="tag"></div>

        </div>

        <div th:class="row"></div>

            <table id="transactionTableList" class="display table table-striped table-bordered col-auto" style="width:100%">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>idCode</th>
                    <th>ask</th>
                    <th>bid</th>
                    <th>qty</th>
                    <th>ratio</th>
                    <th>value</th>
                    <th>transactionDate</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Id</th>
                    <th>idCode</th>
                    <th>ask</th>
                    <th>bid</th>
                    <th>qty</th>
                    <th>ratio</th>
                    <th>value</th>
                    <th>transactionDate</th>
                </tr>
                </tfoot>
            </table>
    </div>

</div>
</html>
