<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout/headers :: login_header(~{::title}, ~{::link})">
    <title>Login page</title>
    <link rel="stylesheet" th:href="@{/css/floating-labels.css}">
</head>
<body>

<div class="container">

        <div class="row align-items-start">
            <div class="col-12">
                <div th:replace="layout/headers :: header-all"></div>
            </div>
        </div>
        <div class="row card">
                <div class="col-12 card-body">
                    <div th:replace="login_content"></div>
                </div>
        </div>

        <div class="row align-content-end">
            <div class="col-12">
                <div th:insert="layout/footers :: siteFooter"></div>
            </div>
        </div>

</div>
<script th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
