<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/headers :: common_header(~{::title},~{::link})">
    <title>Transaction view</title>
    <link rel="stylesheet" type="text/css"
          th:href="@{webjars/font-awesome/5.2.0/css/fontawesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/customStyles.css}">
</head>
<body>
<div class="container">

    <header th:insert="layout/navibar :: adminNavi">
    </header>

    <div class="justify-content-center mt-3">
        <div class="row align-content-center">
            <div class="col-5">
                <div class="content" th:replace="fragments/transaction_list :: currencies"></div>
            </div>
            <div class="col-7">
                <div class="content" th:replace="fragments/transaction_list :: transaction"></div>
            </div>
        </div>
    </div>
    <div>
        <div th:replace="addCurrency :: addCurrency"></div>
    </div>

</div>


<div th:replace="layout/footers :: footerscript(~{})"></div>

</body>
</html>
