<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Transaction Operation list</title>
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/floating-labels.css}">
    <link rel="stylesheet" th:href="@{webjars/dojo/1.10.4/dijit/themes/dijit.css}">
    <script th:src="@{webjars/popper.js/1.14.1/popper.min.js}"></script>
    <script th:src="@{webjars/jquery/3.3.1-1/jquery.min.js}"></script>
    <script th:src="@{webjars/bootstrap/4.1.1/js/bootstrap.bundle.min.js}"></script>
    <script type="application/javascript" th:src="@{webjars/dojo/1.10.4/dojo/dojo.js}"
            data-dojo-config="parseOnLoad: true"></script>
    <script th:src="@{/webjars/dojo/1.10.4/dojo/require.js}"></script>
    <script th:src="@{/webjars/dojo/1.10.4/dojo/_base/config.js}"></script>
    <script th:src="@{/webjars/dojo/1.10.4/dojo/_base/loader.js}"></script>
    <script th:src="@{/webjars/dojo/1.10.4/dojo/_base/kernel.js}"></script>
    <script th:src="@{/webjars/dojo/1.10.4/dojo/_base/lang.js}"></script>
    <script th:src="@{/webjars/dojo/1.10.4/dojo/_base/Color.js}"></script>
    <script th:src="@{/webjars/dojo/1.10.4/dojo/_base/json.js}"></script>
    <script th:src="@{/webjars/dojo/1.10.4/dojo/has.js}"></script>
    <script th:src="@{/webjars/dojo/1.10.4/dojo/sniff.js}"></script>
    <script th:src="@{/webjars/dojo/1.10.4/dojo/_base/declare.js}"></script>

    <script th:src="@{/webjars/dojo/1.10.4/dojo/_base/window.js}"></script>>
    <script th:src="@{/webjars/dojo/1.10.4/dojo/dom.js}"></script>
    <script th:src="@{/webjars/dojo/1.10.4/dojo/dom-construct.js}"></script>
    <script th:src="@{/webjars/dojo/1.10.4/dojo/request.js}"></script>
    <script th:src="@{/webjars/dgrid/1.1.0/Grid.js}"></script>
    <script th:src="@{/webjars/dgrid/1.1.0/extensions/Pagination.js}"></script>

</head>
<body>
<div class="container">
    <table>
        <thead>
        <tr>
            <th>no.</th>
            <th>date</th>
            <th>time</th>
            <th>currency code</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>23-01-2018</td>
            <td>18:09</td>
            <td>USD</td>
        </tr>
        </tbody>
    </table>

    <div id="stsTable">
    </div>
    <div th:insert="fragments/trans_actions.html :: buyActions"></div>
</div>

<script>
    $('#modalBuy').modal('show');
    var dojoConfig = {
        parseOnLoad: true
    }
</script>
<script th:inline="javascript">
    require([
        'dojo/dom!',
        'dojo/dom-construct!',
        'dojo/domReady!',
        'dojo/request!',
        'dojo/_base/declare!',
        'dgrid/Grid!',
        'dgrid/extensions/Pagination!'
    ], function (dom, domConstruct,request, Grid, Pagination) {
        request('/v1/trans/showTransactions' , {handleAs: 'json'} ).then(
            function(jsonTransaction) {
                var grid = new (declare ( [Grid, Pagination])) (
                    {
                        collection: jsonTransaction,
                        className: 'dgrid-autoheight',
                        columns: { idCode : "Code",
                                  qty :"ilosc",
                                 ratio: "cena",
                                value: "Wartość transakcji"
                        },
                        pageSizeOptions: [5, 10, 15]
                    }, 'grid');



                console.log( "echo trans" + jsonTransaction);
                grid.startup();
                $('#transactionTabl').innerHTML = grid;
            },
            function (error) {
                console.log("an error occured" + error);
            }
        )
    });
</script>
</body>
</html>